

* {
	padding: 0;
	margin: 0;
}


#content {
	width: 60%;
	height: 60%;
	position: absolute;
	top: 20%;
	left: 20%;
	border: 1px solid #ccc;
	overflow: hidden;
}

.a_background {
	width: 100%;
	height: 100%;
	position: absolute;
}

.a_background_top {
	width: 100%;
	height: 71.6%;
	background-image: url(../img/background/a_background_top.png);
	background-size: 100% 100%;
}

.a_background_middle {
	width: 100%;
	height: 13.1%;
	background-image: url(../img/background/a_background_middle.png);
	background-size: 100% 100%;
}

.a_background_bottom {
	width: 100%;
	height: 15.3%;
	background-image: url(../img/background/a_background_botton.png);
	background-size: 100% 100%;
}
.charector {
	width: 151px;
	height: 291px;
	background: url(../img/boy.png) -453px 0px no-repeat;
	position: absolute;
	left: 6%;
	top: 55%;
}

.slowWalk {
	-webkit-animation-name: person-slow;
	-webkit-animation-duration: 950ms;
	/*动画播放的次数*/
	-webkit-animation-iteration-count: infinite;
	/*动画切换的方式是一帧一帧的改变*/
	-webkit-animation-timing-function: steps(1, start);
	
	animation-name: person-slow;
	animation-duration: 950ms;
	animation-iteration-count: infinite;
	animation-timing-function: steps(1, start);
}

@keyframes person-slow {
	0% {
		background-position: -453px 0px;
	}
	25% {
		background-position: -904px 0px;
	}
	50% {
		background-position: -451px 0px;
	}
	75% {
		background-position: -753px 0px;
	}
	100% {
		background-position: -300px 0px;
	}
}

